<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/dc22fe21b826e1ff69a77d8cbb761afd.png" type="image/png" sizes="16x16" rel="icon">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <meta content="width=device-width, initial-scale=1, user-scalable=yes" name="viewport">
    <title>Dog House</title>
    <script th:inline="javascript">
        var items = [# th:utext = "${items}" /];
        var currentPage = [# th:utext = "${currentPage}" /];
        var totalPages = [# th:utext = "${totalPages}" /];
        var frontendData = [[${frontendData}]];
    </script>
</head>
<body>
<div id="app"></div>
<script src="http://localhost:8080/main.js"></script>
</body>
</html>